.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form .form__input[type='radio'] {
    display: none;
}

.form__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #4F4F4F;
    padding: 4px 12px;
}

.form .form__input[type='radio']:checked + .form__text {
    border: 1px solid #3ECF5E;
    border-radius: 5px;
}


