.navigation {
    display: flex;
    gap: 488px;
    justify-content: space-between;
    align-items: center;
    padding-top: 21px;
    padding-bottom: 30px; 
}

.navigation__list {
    display: flex;
    gap: 40px;
    list-style-type: none;
    padding-left: 0;
}

.navigation__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #4F4F4F;
    text-decoration: none;
}

.navigation__link--additional:after {
    content: url(../../images/arrow-down.png);
    position: absolute;
    top: -2px;
    right: -15px;
}

.navigation__link--additional {
    position: relative;
}

.navigation__form {
    width: 345px;
}

