.pages {
    display: flex;
    align-items: center;
}

.pages__catalog {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #BDBDBD;
    text-decoration: none;
}

.pages__catalog:nth-child(1) {
    margin-right: 35px;
}

.pages__catalog:not(:last-child)::after {
    content: url(../../images/dot.png);
    position: absolute;
    top: -3px;
    right: -20px;
}

.pages__catalog {
    position: relative;
}

.pages__back {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #333333;
    text-decoration: none;
}

.pages__back::before {
    content: url(../../images/arrow-back.png);
    margin-right: 10px;
}